<nav class="mb-1 navbar navbar-expand-lg navbar-dark" >
    
  <a class="navbar-brand" href="{{url_for('main.index')}}" style="color: black"><strong>HOME</strong> </a>
<div  class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
              
              {% if current_user.is_authenticated %}
              <li class="nav-item">                    
                      <a class="nav-link" href="{{url_for('main.new_post')}}"  style="color: black">NEW POST</a>
              </li>
           
                  <li class="nav-item">
             
                          <a class="nav-link" href="{{url_for('main.index')}}" style="color: black">ALL POSTS</a>
                  </li>
              {% endif %}
          </ul>
          <ul class="navbar-nav ml-auto">

              {% if current_user.is_authenticated %}
              <li class="nav-item">
                  <a href="{{url_for('main.profile',name=current_user.username)}}"  style="margin-right:30px;color: black">PROFILE</a>
              </li>
              
                  <li class="nav-item">
                      <a  href="{{url_for('auth.logout')}}" style="margin-right:30px;color: black"> LOG OUT</a>
                  </li>
      
              {% else %}
          <li class="nav-item">
       
         
           <a href="{{url_for('auth.login')}}" style="margin-right:30px;color: black " class="nav-link"> <strong>LOG IN</strong></a>
          
          </li>
              <li class="nav-item">
              <a href="{{url_for('auth.signup')}}" style="margin-right:30px;color: black " class="nav-link"><strong>SIGN UP</strong></a>
          </li>
          {% endif %}
          </ul>
  </div>
</nav>